.error-404 {
    width: 320px;
    margin: 10% auto 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.error-title {
    font-size: 150px;
    line-height: 1;
    color: #262626;
}

.error-title.active {
    color: #961B1B;
}

.error-404 div {
    text-align: center;
    font-size: 50px;
    line-height: 1;
}

.button_return {
    text-align: center;
    margin-top: 30px;
}
