.bredcrumbs {
    width: 1396px;
    margin: 0 auto 30px auto;
}

.bredcrumbs-list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.bredcrumbs-item {
    margin: 0 5px;
}

.bredcrumbs-link {
    text-decoration: none;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}

.bredcrumbs-link:hover,
.bredcrumbs-current {
    color: #790C5A;
}


@media all and (max-width: 1396px){
    .bredcrumbs  {
        max-width: calc( 100% - 200px);
    }



}

@media all and (max-width: 1200px){

    .bredcrumbs  {
        width: calc(100% - 80px);
        max-width: unset;
    }

}



@media all and (max-width: 700px){

    .bredcrumbs {
        width: calc( 100% - 20px)!important;
        max-width: unset!important;
    }

}
