.products {
    width: 1396px;
    margin: 0 auto;
    height: 100vh;
    box-sizing: border-box;
}

.products-title {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 40px;
    line-height: 56px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 74px;
}

.products-list {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin-bottom: 40px;
}

.products-list .slick-prev {
    position: absolute;
    top: 50%;
    left: -5%;
    transform: translateY(-50%);
    width: 40px;
    height: 80px;
    font-size: 35px;
    background-color: transparent;
    border-color: transparent;
}

.products-list .slick-next {
    position: absolute;
    top: 50%;
    right: -5%;
    transform: translateY(-50%);
    width: 40px;
    height: 80px;
    font-size: 35px;
    background-color: transparent;
    border-color: transparent;
}

.products-item {
    padding: 5px;
    width: 32.5%;
    margin-bottom: 30px;
    position: relative;
}

.products-link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    text-decoration: none;
}

.products-img {
    max-width: 100%;
}

.products-link-title {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #101010;
    padding: 6px 15px 4px 15px;
}

.products-price {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    color: #790C5A;
}

.products-old-price {
    font-size: 18px;
    text-decoration-line: line-through;
    color: #A9A9A9;
}

.promotions-sticker {
    position: absolute;
    left: 5px;
    top: 4%;
    width: 180px;
}

.new-sticker{
    position: absolute;
    left: 5px;
    top: 10%;
    width: 130px;
    height: 40px;
}

.collection-sticker {
    position: absolute;
    left: 5px;
    bottom: 35%;
    width: calc(100% - 10px);
}

@media all and (max-width: 1396px){
    .products {
        max-width: calc( 100% - 200px);
        margin-bottom: 40px;
    }

    .products-title {
        margin-bottom: 40px;
    }
}

@media all and (max-width: 1200px){


    .products {
        margin-bottom: 0;
        height: 80vh;
    }

    .products-block {
        width: calc(100% - 80px);
        margin: 0 auto;
    }

    .products-title {
        font-size: 32px;
        line-height: 56px;
    }

    .products-link-title {
        font-size: 24px;
        line-height: 32px;
    }

    .products-price {
        font-size: 18px;
    }

    .products-list .slick-prev {
        left: -10%;
    }

    .products-list .slick-next {
        right: -10%;
    }


}

@media all and (max-width: 768px){

    .products {
        height: 100%;
    }

    .products-title {
        position: static;
        text-align: center;
        margin-bottom: 25px;
    }

    .products-img {
        max-height: 449px;
        object-fit: cover;
        max-width: 100%;
    }

    .products-list .slick-prev {
        left: -15%;
        top: 30%;
    }

    .products-list .slick-next {
        right: -15%;
        top: 30%;
    }


}

@media all and (max-width: 568px){

    .products {
        height: 100%;
        width: 100%;
        max-width: 100%;
    }

    .products-block {
        width: calc(100% - 20px);
    }

    .products-title {
        font-size: 24px;
        line-height: 32px;
    }

    .products-item {
        width: 100%;
        margin-bottom: 25px;
    }


}
