body {
    background-color: aqua;
}

header {
    background-color: orange;
}

.header-wrapper {
    outline: 2px solid red;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.nav-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
