.content {
    width: 1396px;
    margin: 0 auto 100px auto;
}

.contacts-feedback-bottom {
    display: none;
}

.content-title {
    font-family: 'Playfair Display', serif;
    font-size: 56px;
    line-height: 72px;letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #000000;
    text-align: left;
}

.content-brands-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    color: #790C5A;
    margin: 24px 0;
}

.contacts-wrapper {
}

.contacts-top {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.contacts-data {
    width: 50%;
}


.contacts-block-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #000000;
}

.acceptance-orders-block {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin-bottom: 40px;
}

.acceptance-items {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 16px;
}

.icon-field {
    padding: 0 8px;
}

.info-field-phone,
.info-field-email,
.info-field-working_house,
.info-field-address {
    display: block;
    font-family: 'Vollkorn', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #484848;
    text-decoration: none;
}


.contacts-feedback-top {
    margin-left: auto;
    width: 50%;
}

.contacts-feedback-form-top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
}

.form-block {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    margin-bottom: 15px;
}

.form-block-input {
    width: 49%;
}

.form-block input,
.form-block textarea {
    width: 100%;
}

.form-block input {
    height: 55px;

}

.form-block textarea {
    height: 150px;
}

.form-block label {
    font-family: 'Vollkorn', serif;
    font-size: 18px;
    line-height: 24px;
    color: #101010;
}

.contacts-feedback-btn {
    width: 340px;
    height: 50px;
    background-color: #790C5A;
    border: 2px solid transparent;
    font-weight: bold;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    display: block;
    margin: 0 auto;
}

.contacts-feedback-btn:hover {
    background-color: #ffffff;
    color:  #790C5A;
    border-color:  #790C5A;
}

.contacts-medium {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

.contacts-medium-title {
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 56px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #000000;
    text-align: center;
}

.shops-element {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    border-bottom: 1px solid #C8C8C8;
}

.shops-element:last-child {
    border-bottom: none;
}

.shops-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 20%;
}

.shops-header-title {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 32px;
    line-height: 56px;
    text-transform: uppercase;
    color: #790C5A;
}

.shops-body {
    width: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.shops-body-wrap {
    width: 25%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

.contacts-map {
    width: 100%;
}

.contacts-map iframe {
    width: 100%;
    height: 600px;
}


.content-brands-item {
    margin-right: 16px;
}



.content-brands-link {
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
}

.content-brands-link:hover {
    color: #790C5A;
}

.silhouette {
    background-color: #FEF6FC;
    margin-bottom: 50px;
}

.silhouette-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    color: #790C5A;
    text-align: center;
    padding-bottom: 16px;
    padding-top: 58px;
}

.silhouette-list {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    width: 95%;
    margin: 0 auto;
}

.silhouette-item {
    width: 20%;
    box-sizing: border-box;
}
.silhouette-link {
    max-width: 100%;
    text-decoration: none;
    cursor: pointer;

}

.silhouette-img {
    max-width: 95%;
    padding: 12px 12px 0 12px;
}

.silhouette-link:hover .silhouette-img {
    filter: grayscale(1);
    opacity: 0.5;
}

.silhouette-link-title{
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    color: #101010;
    margin: 8px 0 38px 0;
    text-align: center;
}

.filter {
    position: relative;
    width: 1396px;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 50px;
}

.filter-btn {
    background-color: transparent;
    border: none;
    font-size: 24px;
    line-height: 32px;
     color: #000000;
}

.filter-btn-filter {
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}

.filter-btn-filter:hover {
    color: #790C5A;
}

.filter-btn-sort {
    font-weight: 300;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.filter-btn-sort:hover {
    color: #790C5A;
}



.rubric-products {
    width: 1396px;
    margin: 0 auto;

    margin-bottom: 50px;
}

.rubric-products-list {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin-bottom: 40px;
}

.rubric-products-item {
    padding: 5px;
    width: 32.5%;
    margin-bottom: 30px;
}

.rubric-products-link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    text-decoration: none;
}

.rubric-products-img {
    max-width: 100%;
}

.rubric-products-link-title {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 56px;
    color: #101010;
}

.rubric-products-price {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    color: #790C5A;
}

.rubric-products-old-price {
    font-size: 18px;
    text-decoration-line: line-through;
    color: #A9A9A9;
}

@media all and (max-width: 1396px){
    .content,
    .filter,
    .rubric-products  {

        max-width: calc( 100% - 200px);
    }
}

@media all and (max-width: 1200px){
    .content,
    .filter,
    .rubric-products  {

        max-width: calc( 100% - 80px);
    }

    .contacts-feedback-top {
        display: none;
    }

    .contacts-social-block {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .contacts-block-title {
        width: 100%;
    }

    .shops-body {
        width: 100%;
    }

    .shops-element {
        flex-direction: column;
        align-items: center;
    }
}

@media all and (max-width: 768px){
    .content-title {
        font-size: 24px;
        line-height: 32px;
    }

    .filter-btn {
        font-size: 16px;
        line-height: 32px;
    }

    .modal-btn-filter {
        left: -150%;
    }

    .contacts-top {
        margin-bottom: 30px;
    }

    .shops-body {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin-bottom: 30px;
    }

    .shops-body-wrap {
        width: 32%;
    }
}
@media all and (max-width: 700px){

    .content-title {
        font-size: 24px;
        font-weight: bold;
        line-height: 32px;
        text-align: center;
        margin-bottom: 25px;
    }

    .contacts-data {
        width: 100%;
    }

    .contacts-block-title {
        font-size: 18px;
    }

    .contact-social-icon {
        margin-right: 20px;
    }

    .shops-body-wrap {
        width: 100%;
    }

    .form-block-input {
        width: 100%;
    }

    .contacts-feedback-form-top {
        width: 100%;
    }

    .contacts-feedback-btn {
        width: 100%;
        height: auto;
    }
}



