/*
font-family: 'Montserrat', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif;
font-family: 'Vollkorn', serif;
*/
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    box-sizing: border-box;

}
* {
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
}

/* полоса прокрутки (скроллбар) */
::-webkit-scrollbar {
    width: 4px; /* ширина для вертикального скролла */
    height: 8px; /* высота для горизонтального скролла */
    background-color: #E5E5E5
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
    background-color: #790C5A;
    border-radius: 9em;
    box-shadow: inset 1px 1px 10px  #790C5A;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #A73A88;
}

.page-title {
    position: relative;
}

.page-title::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 105%;
    width: 100%;
    height: 2px;
    background: #000000;
}

h1.slider-title {
    font-family: 'Playfair Display', serif;
    font-size: 56px;
    line-height: 72px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
}

.nav-item-logo-img {
    width: 214px;
    height: 84px;
}

.site-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
}

.overlay {
    position: fixed;
    overflow-y: scroll;
    top: 0; right: 0; bottom: 0; left: 0;
}

.overflow-hid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-color: #777777;
    z-index: 1;
}

.header {
    width: 100%;
    box-shadow: 0px 0px 10px rgba(0,0,0,.1);
}

.header-nav {
    max-width: 1200px;
    margin: 0 auto;
}

.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 84px;
}
.nav-item-burger,
.btn-menu-arrow {
    display: none;
}

.nav-item-logo {
    margin-right: 10px;
}
/*убрать нав меню*/
.nav-item-nav-menu-close {
    display: none
}

.nav-item-search {
    margin-left: auto;
    flex-grow: 1;
    align-self: flex-end;
    padding-bottom: 10px;
}

.search-form {
    display: flex;
    align-items: flex-end;
    position: relative;
}

#search {
    width: 100%;
    border: none;
    border-bottom: 1px solid #000000;

}

#search:focus-visible{
    outline: none;
}

.search-input-close {
    display: none;
}

.search-form-btn {
    position: absolute;
    padding: 16px 12px;
    background-color: transparent;
    border: none;
    bottom: 0;
    right: 0;
    cursor: pointer;
}

.passive {
    display: none!important;
}

.search-form-btn-open {
     padding: 16px 12px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.search-form input {
    padding-bottom: 13px;
}

.search-form input::-webkit-input-placeholder {
    font-size: 18px;
    line-height: 24px;
    color: #C8C8C8;
}
.search-form input::-moz-placeholder          {font-size: 18px;
    line-height: 24px;
    color: #C8C8C8;}/* Firefox 19+ */
.search-form input:-moz-placeholder           {font-size: 18px;
    line-height: 24px;
    color: #C8C8C8;}/* Firefox 18- */
.search-form input:-ms-input-placeholder      {font-size: 18px;
    line-height: 24px;
    color: #C8C8C8;}

.nav-item-nav-cart {
    position: relative;
}

.nav-item-cart-btn {
    padding: 16px 12px;
    background-color: transparent;
    border: none;
}

.counter-orders {
    position: absolute;
    top: 10%;
    left: 65%;
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
    z-index: 2;
}

.counter-orders::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 30px;
    height: 30px;
    background-color: #790C5A;
    border-radius: 50%;
    z-index: -1;
}

.nav-menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.nav-menu-link {
    position: relative;
    padding: 32px 12px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 32px;
    text-transform: uppercase;
    white-space: nowrap;
    color: #000000;
}

.nav-menu-link:hover::before {
    content: "";
    position: absolute;
    top: 25px;
    left: 0;
    width: 100%;
    height: 100%;
    border-top: 1px solid #790C5A;
}

.nav-menu-link:hover::after {
    content: "";
    position: absolute;
    bottom: 25px;
    left: 0;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #790C5A;
}

    .sub-catalog-menu {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: absolute;
        left: 0;
        top: 90px;
        width: 100%;
        background-color: #ffffff;
        box-shadow: 0px 0px 10px rgba(0,0,0,.1);
        z-index: 5;
    }

    .nav-menu-back {
        display: none;
    }

.sub-catalog-list {
    list-style: none;
    padding: 57px 0;
    width: 100%;
    display: none;
    align-items: flex-start;
    justify-content: space-around;
}

.sub-catalog-list.active {
    display: flex;
}

.sub-catalog-link {
    display: flex;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 16px;
}

.sub-catalog-link:hover{
    color: #790C5A;
}

.unit-list {
    padding: 0;
    list-style: none;
}

.unit-item {
    margin-bottom: 8px;
}

.unit-link {
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    text-decoration: none;

}
.unit-link:hover {
    color: #790C5A;
}
.sub-service-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    left: 0;
    top: 90px;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0,0,0,.1);
    z-index: 5;
}

.sub-service-list {
    list-style: none;
    padding: 57px 0;
    width: 90%;
    margin: 0 auto;
    display: none;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sub-service-list.active {
    display: flex;
}

.sub-service-item {
    width: 33%;
}

.sub-service-link {
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 16px;
}

.sub-service-link:hover{
    color: #790C5A;
}

.promotions-sticker {
    position: relative;
}

.promotions-sticker::before {
    content: "";
    position: absolute;
    top: 30px;
    left: 0;
    width: 180px;
    height: 40px;
    background: url('../img/prom-sticker.png') no-repeat center;
    z-index: 1;
}

.new-sticker {
    position: relative;
}

.new-sticker::before {
    content: "";
    position: absolute;
    top: 30px;
    left: 0;
    width: 180px;
    height: 40px;
    background: url('../img/new-sticker.png') no-repeat center;
    z-index: 1;
}

.collection-sticker {
    position: relative;
}

.collection-sticker::before {
    content: "";
    position: absolute;
    bottom: 35%;
    left: 0;
    width: 100%;
    height: 40px;
    background: url('../img/collection-sticker.png') no-repeat center;
    z-index: 1;
}





.footer {
    display: flex;
    margin-top: auto;
    flex-direction: column;
    border-top: 1px solid #000000;
}

.footer-top {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.footer-catalog-list {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.footer-catalog-link {
    font-size: 24px;
    line-height: 32px;
    text-decoration: none;
    color: #101010;
    padding: 45px 30px;
    white-space: nowrap;
    display: block;
}


.footer-catalog-link:hover {
    color: #B51287;
}


.footer-social-list {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: auto;
}




.footer-social-link {
     padding: 10px;
}

.footer-social-link:hover path {
    fill: #AF4290;
}

.footer-bottom {
    width: 100%;
     border-top: 1px solid #000000;

}

.copyright {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.copyright-text{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 14px;
    color: #C8C8C8;
}

@media all and (max-width: 1200px){

    h1 {
    font-size: 40px;
    line-height: 56px;
    }

    .page-title::before {
        right: 101%;
    }


    .header-nav {
       width: calc(100% - 80px);
    }

    .btn-menu-burger {
        display: block;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .btn-menu-burger:focus-visible{
        outline: none;
    }

    .nav-item-nav-menu {
        position: absolute;
        top: 0px;
        left: -1500%;
        height: 100vh;
        min-width: 445px;
        background-color: #ffffff;
        box-shadow: 0px 0px 10px rgba(0,0,0,.8);
        transition: all .8s;
    }

    .nav-item-nav-menu.active {
        left: 0;
        z-index: 2;
        transition: all .8s;
    }

    .nav-menu-list {
        margin: 30px 40px;
        flex-direction: column;
        padding-top: 30px 40px;

    }

    .nav-menu-item {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .btn-menu-arrow {
        display: block;
        background-color: transparent;
        border: none;
        margin-left: auto;

    }

/*
    .btn-menu-arrow.active img {
        transform: rotate(180deg);
    }
*/

    .btn-menu-arrow:focus-visible{
    outline: none;
    }

    .nav-item-burger {
        display: block;
    }

    .nav-item-burger-close {
        background-color: transparent;
        border: none;
        margin-bottom: 15px;
        cursor: pointer;
    }

    .nav-item-burger-close:focus-visible{
        outline: none;
    }

    .nav-menu-link {
        padding: 12px;
        font-size: 18px;
        line-height: 32px;
        font-weight: normal;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .nav-menu-link:hover::before {
        border-top: none;
    }

    .nav-menu-link:hover::after {
        border-bottom: none;
    }

    .nav-item-logo {
        margin-bottom: 15px;
    }

    .nav-item-logo {
        margin: 0 auto;
    }

    .nav-item-search {
        flex-grow: unset;
        margin-left: unset;
    }

    .open-search-blok {
        display: flex;
       min-height: 84px;
        flex-shrink: 1;
        padding-bottom: 0px;
        width: 100%;
        align-items: center;
    }

    .search-form {
        width: 100%;
    }


    .nav-menu-back {
        width: 100%;
        padding: 30px 40px;
        font-size: 18px;
        line-height: 32px;
        text-transform: uppercase;
        color: #000000;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .nav-menu-back span {
        margin-left: auto;
        margin-right: auto;
        padding-right: 32px
    }
/*    TODO: clear submenu*/
    .sub-catalog-menu {
        position: fixed;
        top: 0;
        left: -150%;
        height: 100vh;
        transition: all .8s;
        z-index: 100;
    }

    .sub-catalog-menu.active {
        left: 0;
        transition: all .8s;
    }

    .sub-catalog-list {
        display: flex;
        flex-direction: column;
        padding: 0 40px 30px 40px;
        box-sizing: border-box;
    }

    .sub-catalog-item {
        width: 100%;
    }

    .sub-catalog-link {
        display: flex;
        width: 100%;
    }

    .sub-catalog-link.active .btn-menu-arrow img {
        transform: rotate(-90deg);
    }

    .unit-list {
        display: none;
    }

    .unit-list.active {
        display: block;
    }

    .sub-catalog-link>.btn-menu-arrow {
        margin-left: auto;
    }

    .sub-catalog-link>.btn-menu-arrow>img {
        transform: rotate(90deg);
    }

    .sub-service-menu {
         display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        left: -150%;
        width: 100%;
        height: 100vh;

    }

    .sub-service-menu.active{
        left: 0;
    }

    .sub-service-list {
         display: flex;
        flex-direction: column;
        padding: 0 40px 30px 40px;
        box-sizing: border-box;
    }

    .sub-service-item{
        width: 100%;
        align-items: flex-start;
    }
    .sub-service-link{
        text-align: left;
        align-items: flex-start;
        justify-content: flex-start;
        font-size: 18px;
        line-height: 32px;
        text-transform: uppercase;
        color: #000000;
    }

    .footer-top {
        width: calc(100% - 80px);
    }

    .copyright {
         width: calc(100% - 80px);
        align-items: center;
    }

    .footer-catalog-link {
    font-size: 16px;
    line-height: 24px;
        padding: 30px 20px;
    }


}

@media all and (max-width: 768px){
    .footer-catalog-link {
    font-size: 14px;
    line-height: 24px;
        padding: 10px 15px;
    }
}

@media all and (max-width: 656px){

    .header-nav  {
        width: 100%;
    }

    .footer-top {
        width: 100%;
    }

    .copyright {
         width: 100%;
        align-items: center;
    }

    .footer-top {
    align-items: flex-end;
}

    .footer-catalog-list {
        flex-direction: column;
        align-items: flex-start;
    }

    .copyright-text{
    font-size: 9px;
    line-height: 11px;
}

}

@media all and (max-width: 568px){

       h1 {
    font-size: 24px;
    line-height: 56px;
    }

    .nav-item-logo {
        order: 1;
        margin-left: 0;
        margin-right: 40px;
    }

    .nav-item-logo-img {
        width: 120px;
        height: 48px;
    }

    .nav-item-search {
    order: 2;
    }

    .nav-item-nav-cart {
        order: 3;
    }

    .nav-item-burger {
        order: 4;
    }

    .burger-close-btn {
        order: 0;
    }


}
